body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}
body::before {
  background: #121214;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  content: '';
  display: block;
  height: 360px;
  width: 100%;
}

.page {
  max-width: 736px;
  margin: 0 auto;
}

header {
  width: 319px;
  margin-top: 74px;
}

header h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

header p {
  font-size: 16px;
  line-height: 26px;
  color: #42D3FF;
}

form {
  margin-top: 38px;
  background: #FAFAFC;
  border-radius: 8px 8px 0px 0px;
  
  min-height: 300px;
  padding: 64px;

}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  font-family: 'Archivo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  
  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}
.input-wrapper label span:hover {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea {
  background: #FAFAFC;
  height: 56px;
  padding: 0 24px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  font-family: 'Poppins';
  font-size: 16px;
  line-height: 26px;
  color: #6c6a71;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
  max-width: 100%;
}